body {
	margin: 0;
	padding: 0;
	background: #333;
}

.eye { 
	z-index: 9;
	width: 200px;
	height: 200px;
	background: beige;
	position: absolute;
	left:50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -25px;
	border-radius: 75% 0;
	rotate: 45deg;
	overflow: hidden;
}

.ball { 
	width: 40px;
	height: 40px;
	background: black;
	border-radius: 50%;
	border: 30px solid #B6D0E2;
	position: absolute; 
	top: 25%;
	left: 25%;
	transform: translate(-25,-25);
	z-index: 100;


 }

.shut { 
 	width: 300px;
 	height: 175px;
 	position: absolute;
 	right: -25px;
 	top: 50px;
 	transform: rotate(-45deg) translate(12%,-1%) ;
 	z-index: 999;
  }

.shut span { 
	display: block;
	width: 100%;
	height: 15%;
	background: #D8BFD8;
	border-radius: 0 0 60% 60%;
	transition: 0 40s all;

 }

 .eye:hover > .shut span{
 	animation-delay: 10 sec;
 	height: 100%;

 }



.solid { 
	width: 450px;
	height: 250px;
	background: #ff6b6b;
	position: absolute;
	margin-bottom: 100px;
	margin-left: 10px;
	margin-right: 10px;
	left: 15px;
	top: 60%;

 }

 .stripes {
	width: 450px;
	height: 250px;
	background: repeating-linear-gradient(
		to right,
 		#000000,
  		#000000 10px,
  		#f5f5dc 10px,
  		#f5f5dc 20px
	);
	position: absolute;
	margin-left: 10px;
	margin-right: 10px;
	left:15px;
	top: 25%;

}

.container { 
	width: 500px;
	height: 700px;
	background: beige;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}

.title { 
	font-size: 80px;
	position: absolute;
	left: 40%;
	margin-top: 90px;
 }

